.wrapper {
  background: #000;
  padding: 1rem 0;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: #fff;
    }

    a {
      background-color: #ffc501;
      color: #fff;
      padding: 12px 30px;
      font-weight: 600;
      transition: 1s;
    }

    a:hover {
      transition: 1s;
      background-color: #182736;
    }
  }
}
